<footer class="foooter">
    <div class="row">
        <div class="col-12 text-center align-self-end" id="foot">
            <h6 >Saorav.skumar@gmail.com</h6>
            <div class="row">
        
                <div class="col-12 text-center mt-1">
                    <a href="https://github.com/Batty-sk" target="_blank"><img width="64" height="64" src="https://img.icons8.com/external-tal-revivo-green-tal-revivo/64/external-github-a-web-based-hosting-service-for-version-control-logo-green-tal-revivo.png" alt="external-github-a-web-based-hosting-service-for-version-control-logo-green-tal-revivo"/></a>
                   <a href="https://linkedin.com/in/saurav-kumar-5225a2292" target="_blank"> <img width="64" height="64" src="https://img.icons8.com/color/64/linkedin.png" alt="linkedin"/></a>        
            </div>
        </div>
    </div>
</footer>