<footer class="foooter">
    <div class="row">
        <div class="col-12 text-center align-self-end" id="foot">
            <h6 >Saorav.skumar@gmail.com</h6>
            <div class="row">
        
                <div class="col-12 text-center mt-1">
                    <a href="#"><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/></a>
                   <a href="#"> <img src="https://img.icons8.com/color/48/000000/twitter--v1.png"/></a>        
                    <a href="#"><img src="https://img.icons8.com/color-glass/48/000000/instagram-new.png"/> </a>             </div>
            </div>
        </div>
    </div>
</footer>